.card{
    border-radius: 5%; 
    font-family:'Archivo Narrow', sans-serif;

}
.cardImg{
    border-radius: 5%; 

}

 /* .card{
    box-shadow: 0 15px 10px #777;
    /* box-shadow: 0 15px 10px #777; */
    
 /* } */

 