.card {
    border-radius: 5%;
    font-family: 'Archivo Narrow', sans-serif;
}

.cardImg {
    border-radius: 5%;
}

.cardTaitle {
    font-size: 3rem;
    font-weight: bold;
}

.cardDetails {
    font-size: 1.3rem;
    color: black;
}

/* .cardDetails:hover {
    color: #FF8118;
} */

/* #FacebookShareButton {
} */