.pic {
    background-image: url("https://images.unsplash.com/photo-1494319827402-c4b839aed26b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: 63em;
    background-position: center;
    background-attachment: fixed;
    background-Repeat: no-repeat;
    max-height: 700px;
    padding-right: 9%;
    padding-left: 9%;
    padding-top: 9%;
    padding-bottom: 9%;
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0;
}
.titel{
    font-family: 'Archivo Narrow', sans-serif;

}
.titel>div{
    font-weight: bold;
}
.titeltext{
width:  400px;
}
.textarea{
   width:  400px;

}
.mfooter > button.btn.btn-link:hover{
    color: black;
}
.mheader{
    color: #FF8118;
    font-family:'Archivo Narrow', sans-serif;
    font-size: 3rem;

}