.p-homepage {
    padding: 20px;
    background-color: white;
}

.par {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
    background-color: peachpuff;
    /* border-radius: 10%; */
    margin-top: 30px;
}