.m-body{
    background-image: url("https://images.unsplash.com/photo-1580934174026-8142803ebb5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-size: 82rem;
    background-position: center;
    background-attachment: fixed;
    background-Repeat: no-repeat;
    max-height: 700px;
    padding: 11%;
    font-family:'Archivo Narrow', sans-serif;
    margin:0;
}

/* .Container{
    d-flex justify-content-center w-50 p-5
} */
.mfooter > button.btn.btn-link {
    font-family:'Archivo Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: #FF8118;
}

.mfooter > button.btn.btn-link:hover{
    color: black;
}
.mfooter{
    /* background-color:#cccdcf; */
}
.mheader{
    color: #FF8118;
    font-family:'Archivo Narrow', sans-serif;
    font-size:3em ;

 
}